<mat-drawer-container class="mat__drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="sidenav__container-logo">Platz für Logo</div>

    <ul class="sidenav__list">
      <li routerLink="/dashboard">
        <mat-icon> dashboard </mat-icon>
        Dashboard
      </li>
      <li routerLink="/user">
        <mat-icon> person </mat-icon>
        User
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="mat__toolbar">
      <mat-icon class="mat__toolbar-icon" (click)="drawer.toggle()">
        menu
      </mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>

    <div class="router__container">
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>
